<form class="ui form" action="{{ route('qa.home') }}" method="GET">
  <div class="ui action small fluid input">
    <input type="text" placeholder="Search..." name="txtSearch"/>
    <button class="ui button">Search</button>
    <a class="ui primary button" href="{{ route('qa.create') }}">+</a>
  </div>
</form>
