<h3>
  New Q&A
</h3>
<form class="ui form" action="" method="">
  <div class="field">
    <label>Question</label>
    <input type="text" name="question" required />
  </div>
  <div class="field">
    <label>Answer</label>
    <textarea name="answer" rows="5" required></textarea>
  </div>
  <input class="ui button" type="submit" value="Save" />
  <a class="ui button" href="">Back</a>
</form>
